/* .card {
    background-image: url('../assets//mask-1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
} */

.animated-card {
    background-image: url('../../public/assets/animated-card.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}