.header-section{
    background-image: url('/assets//cleo//topbg.png');
    background-size: cover;   /* Ensures the image covers the entire div without stretching */
    background-position: center; /* Centers the image inside the div */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}
.coverbg{
    background-image: url('../../public//assets//cleo/advance-img2.png');
    background-size: 100% 100%;  
    background-position: center; 
    background-repeat: no-repeat; 
}
.graph{
    background-image: url('../../public//assets//cleo/advance-left.png');
    background-size: 100% 100%;
   background-position: center;
   background-repeat: no-repeat;
    border-radius: 12px;

}
.shadow-container{
    background-image: url('../../public/assets/cleo/Frame.png');
    background-size: 100% 100%;   
    background-position: center; 
    background-repeat: no-repeat; 
}
.mask{
    background-image: url('../../public/assets//cleo/maskshadow.png');
    background-size: 100% 100%;
   background-position: center;
   background-repeat: no-repeat;
}