.main-container {
    background-image: url('../../public/assets//solutions/shadow.png');
    background-size: 100% 100%;   
    background-position: center; 
    background-repeat: no-repeat; 
}
.shadow{
    background-image: url('../../public/assets//solutions/frame.png');
    background-size: 100% 100%;   
    background-position: center; 
    background-repeat: no-repeat; 
}
.shadow2{
    background-image: url('../../public/assets/solutions/frame2.png');
    background-size: 100% 100%;   
    background-position: center; 
    background-repeat: no-repeat; 
    z-index: -1;
}